/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.block-title {
    text-align: center;
}

.gallery-image-container--edit {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;

    .single-image-container img {
        height: 108px;
        margin: 5px;
    }
}

// Buttons

.remove-btn {
	border-radius: 50%;
    position: absolute;
    background: black;
    color: white;
    top: -18px;
    right: -14px;
    width: 36px;
    text-align: center;
    height: 36px;
    padding: 0;
	cursor: pointer;
}

button.add-image {
    display: flex;
    margin: 20px auto 0;
}