/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.gallery-image-container--edit {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;

    .single-image-container img {
        height: 108px;
        margin: 5px;
    }
}
