/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-frontend-gallery {
	padding: 2px;
}

div#imagesContainer {
    max-width: 70rem;
}

.gallery-container {
	display: flex;
	padding: 10px;
	
	button {
		width: 120px;
		padding: 0;
		border: none;
	}
}

.gallery-image-container {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.gallery-image-container img:not(.active) {
	display: none;
}

.wp-block-create-block-gutenberg-frontend-gallery {
	.gallery-image-container {
			width: 640px;
			flex-wrap: wrap;

		img {
			height: 130px;
			margin: 5px;
		}
	}
}

.gallery-image-container {
	width: 640px;
	flex-wrap: wrap;

	img {
		height: 420px;
		margin: auto;
	}
}
