/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.gallery-container {
	display: flex;
	padding: 10px;
}

.gallery-image-container {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
}

.gallery-image-container img:not(.active) {
	display: none;
}

.gallery-image-container {
	img {
		height: 420px;
		margin: auto;
	}
}

.single-image-container {
	border: 2px solid Black;
	margin: 10px;
	overflow: visible;
	position: relative;
}


// Buttons

.remove-btn {
	border-radius: 50%;
    position: absolute;
    background: black;
    color: white;
    top: -18px;
    right: -14px;
    width: 36px;
    text-align: center;
    height: 36px;
    padding: 0;
	cursor: pointer;
}

.btn-left:hover,
.btn-right:hover {
    background: #ededed;
}

#imagesContainer {

	button.btn-left, button.btn-right {
		width: 120px;
		padding: 0;
		border: none;
	}

	button.btn-right {
		margin-left: -120px;
		background: linear-gradient(90deg, transparent, #000000ba);
		&:hover, &:focus {
			color: white;
			background: linear-gradient(90deg, transparent, black);
			outline: none;;
		}
	}

	button.btn-left {
		margin-right: -120px;
		z-index: 10;
		background: linear-gradient(90deg, #000000ba, transparent);
		&:hover, &:focus {
			color: white;
			background: linear-gradient(90deg, black, transparent);
			outline: none;
		}
	}
}