/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-frontend-gallery {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}


.gallery-container {
	display: flex;
	height: 408px;
}

.gallery-image-container {
	display: flex;
	height: 350px;
	padding: 10px;
}

// .gallery-image-container img {
// }

.gallery-image-container img:not(.active) {
	display: none;
}